{% extends 'base.html' %}

{% block title %}O nama - Z-store{% endblock %}

{% block content %}

<section id="about" class="py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2 class="h1-responsive font-weight-bold mb-4 text-center product_title">O nama</h2>
                <p class="text-center text-justify">Z-store je vodeća e-commerce platforma koja pruža širok spektar proizvoda i usluga. Svojim korisnicima nudimo najnovije trendove i kvalitetne proizvode iz različitih kategorija, kao što su elektronika, odjeća, obuća, kućanski aparati i mnogo više.</p>
                <p class="text-center text-justify">Naša misija je pružiti vrhunsko iskustvo kupovine, omogućiti jednostavno pretraživanje proizvoda, sigurno plaćanje i brzu dostavu naših proizvoda.</p>
                <p class="text-center text-justify">Bilo da ste u potrazi za najnovijim tehnološkim gadgetima, trendi odjećom ili praktičnim kućanskim aparatima, Z-store je tu da ispuni vaše potrebe i želje.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
